* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
  }
  
  body > div {
    margin: auto;
  }

  /* Block BTN */
  .btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    min-width: 120px;
    
  }
  .btn:hover{
    opacity: 0.8;
  }
  
  .btn+.btn{
    margin-left: 16px;
  
  
  }
  
  .btn--size--s{
    padding: 8px 40px;
  }
  .btn--size--l{
    padding: 16px 56px;
  }
  
  .btn--success{
      background-color: #71be34;
  }
  .btn--warn{
      background-color: #ffb702;
  }
  .btn--danger{
      background-color: #ff623d;
  }
  
  .btn--disabled{
    opacity: 0.5 !important;
    cursor: default;
    
  }



  /* Block Toast */


#toast{
  position: fixed;
  top: 32px;
  right: 32px;
}

.toast{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    min-width: 400px;
    max-width: 450px;
    padding: 20px 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.8);
    animation: slideInLeft ease .5s ;
    transition: all linear 0.3s ;

    /* 3s là giá trị delay của hàm 
    forwards là dừng ở điểm cuối của animation
    */
    /* animation: fadeOut linear 1s 3s forwards ; */
    
}

/* Animation này xuất hiện từ phải sang trái */
@keyframes slideInLeft {
  /* from là điểm bắt đầu */
  from{
        /* Dùng translateX để duy chuyển thằng toast đi và cho nó ẩn */
    /* dùng calc +32px vì thằng right #toastlà 32 */
    /* opacity: 0; */
    transform: translateX(calc(100% + 32px));
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animation này để khi xuất hiện rồi thì nó mờ mờ dần đi */
@keyframes fadeOut {
  /* Vì nó dừng ở opacity=1 rồi nên không cần from nữa  */
  to{
    opacity: 0;
  }
  
}

.toast--success{
  border-color: #47d864;      
}

.toast--success .toast__icon{
  color:  #47d864;    
}

.toast--info{
  border-color: #2f86eb ;  
}

.toast--info .toast__icon{
  color:  #2f86eb;    
}

.toast--warning{
  border-color: #ffc021;
}

.toast--warning .toast__icon{
  color:  #ffc021;    
}

.toast--error{
  border-color: #ff623d;
}

.toast--error .toast__icon{
  color:  #ff623d;    
}



.toast + .toast{
  margin-top: 20px;
}

.toast__icon{
  font-size: 24px;
}
.toast__close,
.toast__icon{
  padding: 0 16px;
}
.toast__body{
  /* Này chữ trong toast_msg có ngắn thì nó không rút ngắn lại */
  flex-grow: 1;

}
.toast__title{
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.toast__msg{
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;

}
.toast__close{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.toast__close:hover{
  opacity: 0.5;
  transition: opacity 0.2s ease;
}


